/* TODO: Add styling for p.error */

/* || COLOUR SCHEME {
  BLACK: #090E1D; 
  DARK GREY: #373747
  NAVY BLUE: #1D2C4E 
  LIGHT BLUE: #3396BA
  GREEN: #60C137
  LIGHT GREY: #B4BAC4
  WHITE: #E3EBEE
} */

/* || FONTS */
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --black: #090e1d;
  --dark-blue: #0B173B;
  --dark-grey: #373747;
  --navy-blue: #1d2c4e;
  --light-blue: #3396ba;
  --dark-green: #255825;
  --green: #81DD5A;
  --light-grey: #b4bac4;
  --white: #e3ebee;
}
html {
  text-align: center;
  font-size: calc(16px + 0.390625vw);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--white);
}

/* || PRIMARY ELEMENT */
body {
  width: 96%;
  background-image: radial-gradient(var(--navy-blue), var(--black));
  display: flex;
  flex-direction: column;
  margin: 2%;
}
header {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
main {
  width: 100%;
  background-color: var(--dark-grey);
}
footer {
  width: 100%;
  background-color: var(--dark-grey);
  border-radius: 0 0 5px 5px;
}
/* || SECONDARY ELEMENT */
h1 {
  font-family: "Audiowide", Impact, Times, serif;
  margin: 2% auto;
  color: var(--white);
}
h2 {
  font-family: "Unica One", system-ui, Times, serif;
}
h3 {
  font-family: "Unica One", system-ui, Times, serif;
}
h4 {
  font-family: "Gruppo";
  margin: 5%;
}
p {
}
form {
}
section {
  margin: 0;
}
article {
  margin: 0;
}

/* || CLASS */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-column {
  flex-direction: column;
}
.form-item {
  margin: 1% auto;
}
.hidden {
  display: none;
}
.description {
}

/* || GRIDS*/

/* || FEATURED GAMES GRID */
/* || CONTAINER */
#featured-games-container {
  width: 98%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 17vw;
  grid-auto-flow: row dense;
}
/* || ELEMENTS */
#featured-games-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid var(--black); */
  border-radius: 2px;
  box-shadow: 0 2px 4px 1px var(--black);
  background-image: radial-gradient(var(--navy-blue), var(--black));  
}
#main-featured-game {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  font-size: 200%;
  margin: 1.5%;
}
#main-featured-game img {
  width: 95%;
  margin: 2.5% 2.5% 2% 2.5%;
  border-radius: 2px;
  box-shadow: 0 2px 3px 2px var(--black);
}
.featured-game {
  margin: 3%;
  
}
.featured-game img {
  width: 90%;
  margin: 5% 5% 2% 5%;
  border-radius: 2px;
  box-shadow: 0 2px 3px 2px var(--black);
}


/* || GAME DATA GRID */
/* || CONTAINER */
#game-data-container {
  display: grid;
  grid-template-areas:
    "g g a a a a"
    "d d c r r r";
}
/* || ELEMENTS */
#data-general {
  grid-area: g;
}
#data-requirements {
  grid-area: r;
}
#data-art {
  grid-area: a;
}
#data-description {
  grid-area: d;
}
#data-critic {
  grid-area: c;
}

/* || PRICE CLASSES */
.price-container{
  display: grid;
  grid-template-rows: repeat(2, 2.5vw);
  grid-template-columns: auto auto;
  box-shadow: 0 1px 5px 1px var(--black);
  margin: 3%;
}
.discount-percent{
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Audiowide", Impact, Times, serif;
  font-size: 150%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--dark-green);
  box-shadow: 0 0 5px 2px var(--dark-blue) inset;
  border: 1px solid var(--black);
  border-radius: 3px 0 0 3px;
  padding: 5%;
  color: var(--green); 

}
.original-price {
  grid-area: 1 / 2 / 2 / 2;
  text-decoration: line-through;
  background-color: var(--dark-grey);
  box-shadow: -2px 0 5px 1px var(--black) inset;
  border-radius: 0 2px 0 0;
  font-size: 80%;
  padding: 2%;
  margin: 0;
}
.discount-price {
  grid-area: 2 / 3 / 2 / 2;
  background-color: var(--dark-grey);
  box-shadow: 0 0 5px 1px var(--black) inset;
  border-radius: 0 0 2px 0;
  font-size: 80%;
  padding: 2%;
  margin: 0;
  color: var(--green);
}
.price {
  align-self: center;
  justify-self: auto;
  background-color: var(--dark-grey);
  box-shadow: 0 0 10px 2px var(--black) inset;
  border: 1px solid var(--black);
  border-radius: 3px;
  padding: 2%;
  margin: 3%;
}

/* || MOBILE */

/* || TABLET */

/* || DESKTOP */
