:root {
  /* COLOURS */
  --black: #090e1d;
  --dark-blue: #0b173b;
  --dark-grey: #373747;
  --navy-blue: #1d2c4e;
  --light-blue: #3396ba;
  --dark-green: #255825;
  --green: #81dd5a;
  --light-grey: #b4bac4;
  --white: #e3ebee;
  /* FONT SIZE */
  --main-feat-font-size: 3.8vw;
  --price-font-size: 2.9vw;
  --feat-o-price-font-size: 1.45vw;
  --feat-d-price-font-size: 1.5vw;
  --feat-discount-font-size: 2.55vw;
  /* GRID SIZE */
  --price-template-row: 2.5vw 2.5vw;
  --price-template-column: 9vw 6vw;
  /* OTHER */
  --drop-shadow: 0 1px 5px 1px var(--black);
  --depth: 0 0 5px 2px var(--black) inset;
}
/* || FEATURED GAMES GRID */
/* || CONTAINER */
#featured-games-container {
  width: 96%;
  margin: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 17vw;
  grid-auto-flow: row dense;
}
/* || ELEMENTS */
#featured-games-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid var(--black); */
  border-radius: 2px;
  box-shadow: 0 2px 4px 1px var(--black);
  background-image: radial-gradient(var(--navy-blue), var(--black));
}
#main-featured-game {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  margin: 1.5%;
}
#main-featured-game img {
  width: 95%;
  margin: 2.5% 2.5% 1% 2.5%;
  border-radius: 2px;
  box-shadow: 0 2px 3px 2px var(--black);
}
.featured-game {
  margin: 3%;
}
.featured-game img {
  width: 90%;
  margin: 5% 5% 2% 5%;
  border-radius: 2px;
  box-shadow: 0 2px 3px 2px var(--black);
}