:root {
  /* COLOURS */
  --black: #090e1d;
  --dark-blue: #0b173b;
  --dark-grey: #373747;
  --navy-blue: #1d2c4e;
  --light-blue: #3396ba;
  --dark-green: #255825;
  --green: #81dd5a;
  --light-grey: #b4bac4;
  --white: #e3ebee;
  /* FONT SIZE */
  --o-price-font-size: 1.8vw;
  --d-price-font-size: 2.5vw;
  --discount-font-size: 3.4vw;
  --score-font-size: 8vw;
  /* GRID SIZE */
  /* --data-template-column: repeat(6, 1fr);
  --data-template-row: 1fr 1fr 1fr; */
  /* OTHER */
  --drop-shadow: 0 1px 5px 1px var(--black);
  --depth: 0 0 5px 2px var(--black) inset;
}


/* || GAME DATA GRID */
#game-data-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "g g g a a a"
    "d d d c r r"
    "d d d c r r";
    row-gap: 3%;
    column-gap: 1%;
  place-items: stretch;
  height: 70vh;
  margin: 1% 3% 2%;
}
/* || GAME DATA ELEMENTS */
.box{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}
/* || DATA GENERAL GRID */
#data-general {
  grid-area: g;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-areas:
    ". . t ."
    ". p r ."
    ". p d ."
    ". p b ."
    ". p w ."
    ". . . .";
  background-image: radial-gradient(var(--dark-blue), var(--black));
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
}
/* || DATA GENERAL ELEMENTS */
  #data-general h4 {
    grid-area: t;
    font-size: 3vw;
    margin: 1%;
    width: 100%;
  }
    #data-general .price-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-self: stretch;
      grid-area: p;
      box-shadow: none;
      width: 98%;
      margin: 1%;
    }
    #data-general .discount-percent {
      font-size: var(--discount-font-size);
      border-radius: 3px;
      box-shadow: none;
      margin: 0;
    }
    #data-general .original-price {
      font-size: var(--o-price-font-size);
      border-radius: 3px;
      box-shadow: none;
      margin: 0;
    }
    #data-general .discount-price {
      font-size: var(--d-price-font-size);
      border-radius: 3px;
      box-shadow: none;
      margin: 0;
    }
  .release-date {
    grid-area: r;
  }
  .game-developers {
    grid-area: d;
  }
  .game-publishers {
    grid-area: b;
  }
  .game-website {
    grid-area: w;
  }
  #data-general p {
    margin: .5%;
  }
/* || GAME DATA ELEMENTS CONT */
#data-requirements-container {
  grid-area: r;
}
#data-art-container {
  display: flex;
  place-content: center;
  grid-area: a;
  background-image: radial-gradient(var(--dark-blue), var(--black));
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
}
#data-art {
  place-self: center;
  width: 96%;
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
}
#data-description-container {
  grid-area: d;
  background-image: radial-gradient(var(--dark-blue), var(--black));
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
  padding: 2%;
}
#data-score-container {
  grid-area: c;
  font-size: var(--score-font-size);
  background-image: radial-gradient(var(--dark-blue), var(--black));
  border-radius: 3px;
  box-shadow: var(--drop-shadow);
}
#data-score-container h3 {
  font-size: calc(var(--score-font-size) * 0.2);
}
#data-score-container a{
}