/* || FONTS */
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  /* COLOURS */
  --black: #090e1d;
  --dark-blue: #0b173b;
  --dark-grey: #373747;
  --navy-blue: #1d2c4e;
  --light-blue: #3396ba;
  --dark-green: #255825;
  --green: #81dd5a;
  --light-grey: #b4bac4;
  --white: #e3ebee;
  /* FONT SIZE */
  --h1-font-size: 7vw;
  --h2-font-size: 5vw;
  --form-font-size: 1.8vw;
  /* OTHER */
  --drop-shadow: 0 1px 5px 1px var(--black);
  --depth: .5px 2px 2px var(--light-grey) inset, 0 0 5px 2px var(--black) inset;
}
html {
  text-align: center;
  font-size: calc(16px + 0.390625vw);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--white);
}

/* || PRIMARY ELEMENT */
body {
  width: 96%;
  background-image: radial-gradient(
    var(--navy-blue),
    var(--dark-blue),
    var(--black)
  );
  margin: 2%;
}
header {
  width: 100%;
}
main {
  width: 100%;
  background-color: var(--dark-grey);
  /* border: 2px solid var(--black); */
  border-radius: 5px;
  background-image: radial-gradient(
    var(--dark-grey),
    var(--dark-grey),
    var(--black)
  );
  box-shadow: 3px 0 12px 6px var(--black) inset;
}
footer {
  width: 100%;
}
/* || SECONDARY ELEMENT */
h1 {
  font-family: "Audiowide", Impact, Times, serif;
  font-size: var(--h1-font-size);
  margin: .5% auto;
  color: var(--white);
}
h2 {
  font-family: "Unica One", Times, serif;
  font-size: var(--h2-font-size);
}
h3 {
  font-family: "Unica One", Times, serif;
}
h4 {
  font-family: "Gruppo", Arial, Helvetica, sans-serif;
  margin: 1%;
}
p {
}
form {
  margin: 1%;
}
article {
  margin: 0;
}

/* || MAIN ID */
#on-load {
  width: 100%;
}
#featured-games {
  width: 100%;
  margin: 0;
  padding: 0;
}

input, select {
  text-align: center;
}

/* || CLASS */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.flex-column {
  flex-direction: column;
}
form {
}

select {
  max-height: 10vh;
  overflow-y: hidden;
}

.form-item {
  margin: 3% auto;
}
.hidden {
  display: none;
}
.description {
}
.price {
  font-size: var(--price-font-size);
}

#btnSvg {
  width: 3vw;
}

#returnBtn {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin: 2% 2% 1% 2%;
}

/* || FORM GRID */
#searchForm{
  width: 80%;
  margin: 2% 10%;
  display: grid;
  grid-template-areas: 
  "b b b c"
  ". s . .";
  place-content: space-evenly;
  place-items: center;
  
}
#steamSearchQuery{
  grid-area: b;
  width: 65vw;
  height: 5vw;
  margin: 1%;
  box-sizing: border-box;
  place-self: center;
  background-color: var(--light-grey);
  box-shadow: var(--depth), var(--drop-shadow);
  color: var(--black);
  font-size: var(--form-font-size);
  border: none;
  border-radius: 3px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#steamCurrencySelect{
  grid-area: c;
  width: 8vw;
  height: 5vw;
  margin: 1%;
  box-sizing: border-box;
  place-self: center;
  background-color: var(--light-grey);
  box-shadow: var(--depth), var(--drop-shadow);
  font-size: calc(var(--form-font-size) * .8);
  border: none;
  border-radius: 3px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
#submitSearchQuery{
  grid-area: s;
  width: 15vw;
  height: 4vw;
  box-sizing: border-box;
  place-self: center;
  background-color: var(--light-grey);
  box-shadow: var(--drop-shadow), var(--depth);
  font-size: var(--form-font-size);
  border: none;
  border-radius: 3px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* || PRICE CLASSES */
.price-container {
  display: grid;
  grid-template-rows: var(--price-template-row);
  grid-template-columns: var(--price-template-column);
  box-shadow: var(--drop-shadow);
  margin: 3%;
}
.discount-percent {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--dark-green);
  box-shadow: 3px 0 5px 2px var(--black) inset;
  border-radius: 3px 0 0 3px;
  font-family: "Audiowide", Impact, Times, serif;
  font-size: var(--feat-discount-font-size);
  padding: 5%;
  color: var(--green);
}
.original-price {
  grid-area: 1 / 2 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
  background-color: var(--dark-grey);
  box-shadow: -2px 1px 5px 1px var(--black) inset;
  border-radius: 0 2px 0 0;
  font-size: var(--feat-o-price-font-size);
  padding: 2%;
  margin: 0;
}
.discount-price {
  grid-area: 2 / 3 / 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey);
  box-shadow: -2px -1px 5px 1px var(--black) inset;
  border-radius: 0 0 2px 0;
  font-size: var(--feat-d-price-font-size);
  padding: 2%;
  margin: 0;
  color: var(--green);
}
.price {
  align-self: center;
  justify-self: auto;
  background-color: var(--dark-grey);
  box-shadow: 0 0 7px 3px var(--black) inset;
  border-radius: 4px;
  padding: 1.5% 5%;
  margin: 1% 1% 3% 1%;
}
.main-feature-title {
  font-size: var(--main-feat-font-size);
}

/* || MOBILE */

/* || TABLET */

/* || DESKTOP */
